@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
 margin:0;
 padding:0;
  box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}
body
{
 overflow-x:hidden;
 background:#fff;
 min-height:100vh;  
}

#header
{
  position:absolute;
  top:0;
  Left:0;
  width:100%;
  padding:30px 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#header .logo
{
  color:#094b65;
 font-weight:700;
 font-size:2em;
  text-decoration:none;
}
#header ul
{
 display:flex;
 justify-content:center;
 align-items:center;
  
}

#header ul li {
    List-style:none;
    margin-left:20px;
}
#header ul li a
{
  text-decoration:none;
 padding:6px 15px;
  color:#894b65;
 border-radius:20px;
}
#header ul li a:hover,
#header ul li a .active
{
 background:#994665;
  color:#fff;
}
section
{
  position:relative;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
section::before
{
 content:'';
 position:absolute;
 bottom:0;
 Left:0;
 width:100%;
 height:100px;
 background:linear-gradient(to top,#094b65,transparent);
 z-index:10;
}
section img
{
 position:absolute;
  top:0;
  Left:0;
 width:100%;
  height:100%;
  object-fit:cover;
 pointer-events:none;
}




section #text {
 position:absolute;
  color:#094b65;
 font-size:7vw;
  text-align:center;
  Line-height:0.55em;
  transform: translateY(-50px);
}
section #text span
{
 font-size:0.20em;
  Letter-spacing:2px;
 font-weight:400;
}
#btn
{
  text-decoration:none;
  display:inline-block;
  padding:8px 30px;
  background:#fff;
  color:#094b65;
  font-size:1.2em;
  font-weight:500;
  Letter-spacing:2px;
  border-radius:40px;
  transform:translateY(100px);
}

.sec{
 position:relative;
 padding:100px;
 background:#094b65;
}
.sec h2
{
 font-size:3.5em;
 color:#fff;
 margin-bottom:10px;
}
.sec p
{
 font-size:3.5em;
 color: #fff;
}
