@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* 
{
 margin:0;
 padding:0;
  box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}
.banner
{
  display:grid;
 grid-template-columns:1fr 1fr;
}
.banner .box
{
 position:relative;
  height:100vh;
 background:#fff;
}
.banner .box:last-child
{
  background:#ff0;

}

header
{
 position:absolute;
  top:0;
  Left:0;
 width:100%;
 padding:20px 60px;
  display:flex;
 justify-content:space-between;
  align-items:center;
}
.logo
{
 position:relative;
 font-size:1.4em;
  color:#111;
 font-weight:700;
  text-decoration:none;
  }

header ul
{
  display:flex;
}
header ul li
{
  
  list-style:none;
 margin-left:30px;
}

header ul li a
{
  text-decoration:none;
 font-weight:500;
  color:#bdbdbd;
  Letter-spacing:1px;
}

header ul li a:hover
{
  color:#333;
}

.content
{
 display:flex;
 justify-content:center;
 align-items:center;
 padding:60px;

}

.content h2
{
   font-size:4em;
 color:#333;
}

.content p{
  font-size: 1.1em;
  color: #777;
  line-height: 1.8em;
}

.btn
{
  display:inline-block;
 font-size:1.1em;
  margin-top:20px;
  color:#333;
  text-decoration:none;
 font-weight:500;
 border:2px solid#333;
 padding:10px 30px;
  Letter-spacing:1px;
  transition:0.5s;
}
.btn:hover
{
  background:#333;
  color:#fff;
  letter-spacing:2px;
}

.images
{
 display:flex;
 flex-wrap:wrap;
}
.images .imgBx
{
 position:relative;
 width:50%;
 height:50vh;
 background:#0f0;
 }

 .images .imgBx:nth-child(2)
{
 background:#00f;
}
.images .imgBx:nth-child(3)
{
 width:100%;
 background:#0F475D ;
}
.images .imgBx img
{
 position:absolute;
 top:0;
 Left:0;
 width:100%;
 height:100%;
 object-fit:cover;
 }